@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Notable&display=swap');
@font-face {
	font-family:'velozes&furiosos';
	src: url("fontes/NanumMyeongjo-Bold");
}

body#corpo {
	background-color: pink;
	}

hgroup.titulo h1{
	font-family: 'Notable', sans-serif;
	text-transform: uppercase;
	color: blue;
	text-decoration: underline;
	margin-left: 70px;
	font-size: 30pt;
	}

hgroup.titulo h2{
	margin-left: 70px;
}
	
figure.foto {
	background-color: lightblue;
	width: 25%;
	text-align: center;   
	border: double black 8px;
	float: right;
	padding-top: 5px;
	}

figure.foto h4 {
	color: red;
	margin-top: 0px;
	margin-bottom: 0px;
	}

span.texto {
	font-family:'velozes&furiosos';
	text-indent: 50px;
	font-size: 15pt;
	text-align: justify;
	}

header#cabecalho img {
	position:absolute;
	top: 70px;
	right:80px;
	
	}

article#conteudo {
	background: url("imagens/fundo.jpeg"); /* 800px 270px;*/
	padding: 20px;
	margin-left: 20px;
	margin-right: 20px;
	}

/*formatação da tabela de preços e produtos*/

table.produto {    
	background-color: lightgray;
	border: 1px solid green;
	border-spacing: 0px; 
	margin: auto;
}

table.produto th {
	border: 1px solid black;
}

table.produto td {
	border: 1px solid red;
	padding: 10px;
	text-align: center;
	transition: border-radius 3s;
}

table.produto td:hover {
	background-color: black;
	color: white;
	border-radius: 25px;
}

table.produto td.promo {
	background-color: lightgreen;
	color: blue;
	font-family: arial;
}

table.produto td.promo:hover {
	text-shadow: 4px 4px 4px black;
	transition: text-shadow 2s;
	transition: 3s;
}

/*formatação do rodapé*/

footer#rodape {
	text-align: center;
	border-top: solid gray 2px;
	}

/*formatação de menu*/

nav#menu {
	display: block;
	}

nav#menu ol {
	list-style: none;
	text-transform: uppercase;
	position: absolute;
	top: 0px;
	right: 60px;
	}

nav#menu li {
	display: inline-block;
	background-color: lightgray;
	padding: 10px;
	margin: 3px;
	border-radius: 10px;
	transition: background-color 3s;
	}

nav#menu li:hover {
	background-color: darkgray;
	}

nav#menu a {
	color: black;
	text-decoration: none;
	}

nav#menu a:hover {
	color: white;
	text-decoration: underline;
	}

nav#menu h3 {
	display: none;
	}
	



/*formataçao video*/
/*
video.tube {
	border: 4px solid blue;
}
*/